$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* for login */
.back-login{
//   position: absolute;
//   width: 100%;
//   min-height: 768px;
//   height: 100%;
//   color: #fff;
//   background: #41a5df;
//   padding-top: 140px;
//   background-color: #41a5df;
//   background-image: linear-gradient(to right bottom, #41a5df, #41dfb1);
  .content{
    text-align: center;
    width: 100%;
    min-height: 450px;
  }
  .login-form{
    max-width: 340px;
    display: inline-block;
    vertical-align: top;
    h2{
      line-height: 72px;
      vertical-align: top;
      font-weight: normal;
      height: 72px;
      font-size: 23px;
      span{
        border-right: 1px solid #fff;
        vertical-align: top;
        font-size: 26px;
          margin-right: 6px;
          padding-right: 6px;
      }
    }
    p{
      font-size: 16px;
      margin-bottom: 20px;
    }
    .login-icon{
      width: 60px;
      height: 60px;
      border-radius: 3px;
      display: inline-block;
      text-align: center;
      margin-right: 10px;
      cursor: pointer;
      .icon{
        margin: 8px auto 6px;
        height: 25px;
        background-image: url('http://zhaime.qiniudn.com/uploads/activity/20150602loginicons.png');
        background-repeat: no-repeat;
      }
      .icon1{
        width: 22px;
      }
      .icon2{
        width: 21px;
        background-position: -23px 0;
      }
      .icon3{
        width: 23px;
        background-position: -44px 0;
      }
    }
    .login-icon.active{
      border: 1px solid #fff;
    }
    
  }
  input{
    display: block;
    margin: 20px 0;
    background: rgba( 255,255,255,0.15);
    border: none;
    padding: 0 3%;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    color: #fff;
  }
  ::-webkit-input-placeholder { /* WebKit browsers */
      color: #b4deeb;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: #b4deeb;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: #b4deeb;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
     color: #b4deeb;
  }
  button{
    background: none;
    border: 1px solid #fff;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  button:hover{
    background: #fff;
    color: #41bfca;
  }
}
/* login end */